<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/6f845d5dab9c190070bfae36/w/80e382d598c8042090f96ef2/e/c831616fce6e428b6b7712d2 -->
<robot name="robot_config">

  <link name="base_link"/>

  <joint name="base_to_body" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 -1.5708"/>  <!-- -90 degrees around z -->
    <parent link="base_link"/>
    <child link="body"/>
  </joint>

  <!-- Link body -->
  <link name="body">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part body -->
    <visual>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://robot_description/assets/body.stl"/>
      </geometry>
      <material name="body_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://robot_description/assets/body.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link right_wheel -->
  <link name="right_wheel">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part right_wheel -->
    <visual>
      <origin xyz="3.85186e-34 -2.29621e-18 0" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://robot_description/assets/right_wheel.stl"/>
      </geometry>
      <material name="right_wheel_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="3.85186e-34 -2.29621e-18 0" rpy="-1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://robot_description/assets/right_wheel.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from body to right_wheel -->
  <joint name="right_wheel" type="continuous">
    <origin xyz="0 2.39987e-18 -3.16527e-18" rpy="1.5708 -0 1.5708"/>
    <parent link="body"/>
    <child link="right_wheel"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link left_wheel -->
  <link name="left_wheel">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1e-09"/>
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09"/>
    </inertial>
    <!-- Part left_wheel -->
    <visual>
      <origin xyz="-2.39987e-18 -3.16527e-18 0.1" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://robot_description/assets/left_wheel.stl"/>
      </geometry>
      <material name="left_wheel_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="-2.39987e-18 -3.16527e-18 0.1" rpy="1.5708 1.5708 0"/>
      <geometry>
        <mesh filename="package://robot_description/assets/left_wheel.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from body to left_wheel -->
  <joint name="left_wheel" type="continuous">
    <origin xyz="0.1 2.39987e-18 -3.16527e-18" rpy="-1.5708 -0 1.5708"/>
    <parent link="body"/>
    <child link="left_wheel"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
</robot>
